[% extends 'base.html' %]
[% block content %]
<h1>Broken Promises/Control Tower</h1>
<div ng-controller="ArticlesCtrl">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Articles</th>
				<th>Publication</th>
				<th>Grade</th>
			</tr>
		</thead>
		<tbody>
			<tr class="article" ng-repeat="article in articles" ng-click="setArticle(article)">
				<td>
					<div class="ref_date">{{article.ref_date | ref_date }}</div>
					<div class="source">{{article.source}}</div>
					<div class="title">{{article.title}}</div>
					<div class="snippet">{{article.snippet}}</div>
					<div class="body"
						 ng-bind-html = "article.body | nl2br" 
						 ng-if        = "active > 0 && active_article.$$hashKey == article.$$hashKey"
						 scroll-to    = "300">
					</div>
					<div class="url"><a href="{{article.url}}">{{article.url}}</a></div>
				</td>
				<td class="pub_date"><span>{{article.pub_date | pub_date }}</span></td>
				<td class="grade">
					<a ng-click="vote(article, -1)">-1</a> / 
					<a ng-click="vote(article,  1)">+1</a> / 
					<a ng-click="vote(article,  2)">+2</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
[% endblock %]
