[% extends 'base.html' %]
[% block content %]
<h1>Broken Promises/Control Tower</h1>
<div ng-controller="ArticlesCtrl">
	{{ articles.length }} articles
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Articles</th>
				<th>Publication</th>
				<th>Grade</th>
			</tr>
		</thead>
		<tbody>
			<tr
				class="article"
				ng-repeat="article in articles | orderBy:['ref_dates.0.date.toString()', 'title']" 
				ng-class="{
					minus    : article.note   == -1, 
					plus     : article.note   ==  1, 
					plusplus : article.note   ==  2, 
					active   : active_article == article,
					voted    : article.note
				}">
				<td ng-click="setArticle(article)">
					<span class="ref_date" ng-repeat="ref_date in article.ref_dates | unique">{{ ref_date.date | ref_date }}</span>
					<div class="source">{{article.source}}</div>
					<div class="title">{{article.title}}</div>
					<div class="snippet" ng-bind-html = "article.ref_dates[0]['extract'] | snippet:article.ref_dates|unique"></div>
					<div class="body"
						ng-bind-html = "article.body | snippet:article.ref_dates"
						ng-if        = "active > 0 && active_article.$$hashKey == article.$$hashKey"
						scroll-to    = "300">
					</div>
					<div class="url"><a href="{{article.url}}">{{article.url}}</a></div>
				</td>
				<td class="pub_date"><span>{{article.pub_date | pub_date }}</span></td>
				<td class="grade">
<!-- 					<a ng-click="vote(article, -1)">-1</a> / 
					<a ng-click="vote(article,  1)">+1</a> / 
					<a ng-click="vote(article,  2)">+2</a> -->
					<div class="note">{{ article.note }}</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
[% endblock %]
